@page "/Intro"
@inject NavigationManager NavigationManager

<div class="intro-wrapper d-flex align-items-center justify-content-center text-center">
    <!-- Background Shape-->
    <div class="background-shape"></div>
    <div class="container"><img class="big-logo" src="/img/core-img/logo-white.png" alt=""></div>
</div>
<div class="get-started-btn"><button class="btn btn-success btn-lg w-100" @onclick=@(() => NavigationManager.NavigateTo("login"))>Get Started</button></div>

@code {

}
